@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    font-family: 'Poppins','Vazirmatn', sans-serif;
}

.nav-menu {
    color: #929191!important;

}

.nav-menu:hover {
    color: #000 !important;
    transition: ease .2s !important;

}

.header-menu {
    position: absolute;
    left: 0;
    top:8.5%;
    padding: 0;
    background: #b8d9ec;
    width: 100%;
    /* border-radius: 20px; */
    z-index: 60;
}

/* .boeder-banner {
    border-left: 2px solid #dadee7 !important;
    border-right: 2px solid #dadee7 !important;
    line-height: 1.5 !important;
} */